USE [master]
GO
/****** Object:  Database [QuizClash]    Script Date: 9/25/2015 1:58:23 AM ******/
CREATE DATABASE [QuizClash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizClash', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuizClash.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuizClash_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuizClash_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizClash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizClash]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/25/2015 1:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[question-answer]    Script Date: 9/25/2015 1:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[question-answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](50) NULL,
	[A] [varchar](50) NULL,
	[B] [varchar](50) NULL,
	[C] [varchar](50) NULL,
	[D] [varchar](50) NULL,
	[cat_id] [int] NULL,
	[answer] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Rounds]    Script Date: 9/25/2015 1:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Rounds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoundNO] [int] NULL,
	[RoundStatus] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 9/25/2015 1:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[IsPlaying] [varchar](50) NULL,
	[Scores] [int] NULL,
	[RoundNo] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
